body{
    margin: 0;
    padding-top: 65px;
    font-family: 'Poppins', sans-serif;
}
.header{
    background: white;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    background-color:#17A589;
    color: white;
}

.header .button-menu{
    display: none;
    position: absolute;
    left: 30px;
    cursor: pointer;
}

.header .logo{
    display: flex;  
    font-family: 'Hammersmith One', cursive;
    font-weight: 700;
    font-size: 35px;
    padding-left: 10px;
}

.header .logo p{
   margin: auto;
}

.header .menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.header ul li{
    display: inline-block;
    padding: 0 5px;
}

.header ul li a{
    padding: 5px 10px;
    cursor: pointer;
    line-height: 55px;
    font-size: 15px;
}

.header ul li a .header-icon{
    margin: 0;
    padding-right: 10px;
}

.header ul li a:hover{
    color:black;
}

.header ul li a.active{
    border-bottom: 4px solid black;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.7);
    margin-top: 10px;
}

@media screen and (max-width: 320px) { 
    .menu{
        background: blue;
    }

}
@media screen and (max-width: 480px) {
    /* body{
        overflow-y: hidden;
     } */

    .header .button-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 5px;
        background: red;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        z-index: 3;
    }
    .header .button-menu .button-menu-icon{
        font-size: 20px;
    }
    .header .logo {
        margin: 0 auto;
    }
    .header .logo p{
        font-size: 25px;;
     }
    .header .menu{
        background: yellowgreen;
        position: fixed;
        z-index: 2;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        /* bottom: 0; */
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s;
    }

    
    .header .menu ul li{
        display: block;
        text-align: center;
    }

    .header .is-active{
        left: 0;
    }
 }
@media screen and (max-width: 767px) { 
    body{
        padding: 0;
    }
    .header{
        position: initial; 
    }
}
@media screen and (max-width: 1024px) { 
    .header .logo p{
        font-size: 20px;;
     }
     .header ul li{
        padding: 0;
     }
}