.home-container .content{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.home-logo{
    width: 460px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-logo p {
    text-align: justify;
    margin-top: 5px; 
}
.home-logo figure{
    margin: 0;
}
.home-logo figure img{
    margin: 0 auto;
    display: block;
    border-radius: 10%;
}

.home-information{
    width: 460px;
    height: 370px;
}
.home-information h1,p {
    margin: 0;
    text-align: center;
}
.home-information .information{
    line-height: 35px;
    margin-top: 30px;
}
.information .information-dat{
    display: flex;
}
.information .information-dat strong{
    margin-right: 15px; 
}

.home-redes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: yellowgreen;
    height: 80px;
}
.home-redes .home-redes-icon{
    padding: 0 15px;
}

@media screen and (max-width: 480px) {
    .home-container .content{
        display: block;
    }
    .home-information{
        margin-top: 15px; 
    }
    .home-information .information{
        line-height: 25px;
    }
    .home-logo,.home-information{
        width: initial;
        height: initial;
        font-size: 14px;
    }
    .home-logo figure img{
        width: 180px;
        height: 180px;
        margin-bottom: 10px; 
    }
    .information .information-dat{
        flex-direction: column;
    }
    .information .information-dat span{
        margin-left: 10px; 
    }    
 }
@media screen and (max-width: 767px) { 
    
}
@media screen and (max-width: 1024px) { 
    .home-logo,.home-information{
        font-size: 14px;
    }
}