.home-container .content{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.home-logo{
    width: 580px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-logo figure{
    margin: 0;
}

.home-logo figure img{
    border-radius: 50%;
}

.home-information{
    width: 580px;
    height: 300px;
}
.home-information h1,p {
    margin: 0;
    text-align: center;
}
.home-information .information{
    line-height: 35px;
}
.information .information-dat{
    display: flex;
}
.information .information-dat strong{
    margin-right: 15px; 
}

.home-redes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: yellowgreen;
    height: 80px;
}
.home-redes .home-redes-icon{
    padding: 0 15px;
}

@media screen and (max-width: 480px) {
    .home-container .content{
        display: block;
    }
    .home-information .information{
        line-height: 25px;
    }
    .home-logo,.home-information{
        width: initial;
        height: initial;
        font-size: 14px;
    }
    .home-logo figure img{
        width: 180px;
        height: 180px;
    }
    .information .information-dat{
        flex-direction: column;
    }
    .information .information-dat span{
        margin-left: 10px; 
    }    
 }
@media screen and (max-width: 767px) { 
    
}
@media screen and (max-width: 1024px) { 
    .home-logo,.home-information{
        font-size: 14px;
    }
}