.skills{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.skills h4{
    text-align: center;
}

.skills-content{
    margin-top:10px; 
}
.skills .skills-value{
    display: flex;
    justify-content: space-between;
}

.skills .progress{
    height: 10px;
    background: #f95959;
    border-radius: 10%;
}

.skills-Personal,.skills-Profesional{
    width: 360px;
}


@media screen and (max-width: 480px) {
    .skills{
        flex-direction: column
    }
 }
/* @media screen and (max-width: 767px) { 
    
} */
@media screen and (max-width: 1023px) { 
}