.education{
    display: flex;
    box-shadow: 0.5px 1px 1px rgba(69, 93, 122, 0.7);    
    margin: 10px auto;
}

.education .education-left{
    width: 100%;
    height: 100px;
    background: #233142;
    color:#e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.education .education-right{
    width: 100%;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .education{
        flex-direction: column
    }
 }
/* @media screen and (max-width: 767px) { 
    
} */
@media screen and (max-width: 1023px) { 
    .education .education-left{
        height: auto;
    }
}